.icon {
  margin: 5;
}

.cover {
  /* background-image: url('~/assets/images/superhero/01-01.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.story-text {
  font-family: Mansalva-Regular;
  font-size: 18;
  color: rgb(26, 25, 25);
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  text-align: center;
}

.nav-button {
  font-family: Mansalva-Regular;
  color: rgb(26, 25, 25);
  font-style: italic;
  font-size: 25;
  text-align: center;
}
